<template>
    <div class="wrap">
        <select v-model="cityId">
            <option disabled value="">Выберите город</option>

            <option 
            v-for="(value, index) in cities"
            :key="index"
            :value="value.id"
            >
                {{ value.name }}
            </option>
        </select>
        <button @click="findStreets" :disabled="activeButton">
            <span v-if="!loader">
                Найти
            </span>
                <svg  v-if="loader" version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="40px" height="20px"  enable-background="new 0 0 0 0" xml:space="preserve">
                <circle fill="#fa8072" stroke="none" cx="10" cy="10" r="3">
                    <animate
                    attributeName="opacity"
                    dur="1s"
                    values="0;1;0"
                    repeatCount="indefinite"
                    begin="0.1"/>    
                </circle>
                <circle fill="#fa8072" stroke="none" cx="20" cy="10" r="3">
                    <animate
                    attributeName="opacity"
                    dur="1s"
                    values="0;1;0"
                    repeatCount="indefinite" 
                    begin="0.2"/>       
                </circle>
                <circle fill="#fa8072" stroke="none" cx="30" cy="10" r="3">
                    <animate
                    attributeName="opacity"
                    dur="1s"
                    values="0;1;0"
                    repeatCount="indefinite" 
                    begin="0.3"/>     
                </circle>
                </svg>
        </button>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
    name: 'Cities',
    props: {
        cities: {
            required: true,
        }
    },
    data: () => ({
        cityId: '',
        loader: false,
    }),
    methods: {
        ...mapActions('maps', {
            putStreets: 'putStreets',
            putIdCity: 'putIdCitySelected',
        }),
        async findStreets(){
            this.loader = true;
            await this.putStreets(this.cityId);
            this.loader = false;
        }
    },
    computed: {
        activeButton(){
            if(!this.cityId.length || this.loader){
                return true;
            }
            return false;
        }
    },
    watch:{
        cityId(){
            this.putIdCity(this.cityId)
        }
    },
}
</script>

<style scoped>
.wrap {
    display: flex;
    justify-content: center;
}
button {
    width: 60px;
    height: 22px;
    margin: 0;
    padding: 0;
}
</style>