<template>
    <div class="wrap">
        <select v-model="cityId">
            <option disabled value="">Выберите город</option>

            <option 
            v-for="(value, index) in cities"
            :key="index"
            :value="value.id"
            >
                {{ value.name }}
            </option>
        </select>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
    name: 'Cities',
    props: {
        cities: {
            required: true,
        }
    },
    data: () => ({
        cityId: '',
    }),
    methods: {
        ...mapActions('maps', {
            putStreets: 'putStreets',
            putIdCity: 'putIdCitySelected',
        }),
    },
    watch:{
        cityId(){
            this.putIdCity(this.cityId);
            this.putStreets(this.cityId);
        }
    },
}
</script>

<style scoped>
.wrap {
    display: flex;
    justify-content: center;
}
button {
    width: 60px;
    height: 22px;
    margin: 0;
    padding: 0;
}
</style>