<template>
    <div class="wrap-streets">
        <p @click="toggleStreets">{{ selectedName }}</p>
        <div :class="showStreets" class="select-list">
            <div class="search">
                    <input v-model="searchStreet" type="text" placeholder="ищи давай">
                    <span 
                    v-if="searchStreet.trim()"
                    @click="clearSearch"
                    >
                        &#10006
                    </span>
            </div>
            <ul>               
                <li
                v-for="(value, index) in clearStreets"
                :key="index"
                :data-value="value.id"
                @click="selectStreet(value.id, value.name)"
                >
                    {{ value.name }}
                </li>
            </ul>
        </div>
        <span v-if="selectedId">id street: {{ selectedId }}</span>
    </div>
</template>

<script>

export default {
    name: 'Streets',
    props: {
        streets: {
            required: true,
        }
    },
    data: () => ({
        streetId: '',
        showStreets: {
            'show-streets': false,
        },
        selectedName: 'Выберите улицу',
        selectedId: null,
        searchStreet: '',
    }),
    methods: {
        toggleStreets(event){

            let handlerStreet = (event) => {
                if(event.target.tagName === 'INPUT'){ return; }
                document.body.removeEventListener('click', handlerStreet);
                this.showStreets['show-streets'] = false;
            };

            if(this.showStreets['show-streets']){
                handlerStreet();
            }else{
                document.body.addEventListener('click', handlerStreet);
                this.showStreets['show-streets'] = true;
                event.stopPropagation();
            }
        },
        selectStreet( id, name){
            this.selectedName = name;
            this.selectedId = id;
        },
        clearSearch(event){
            this.searchStreet = '';
            event.stopPropagation();
        }
    },
    computed: {
        clearStreets(){
            let street = this.searchStreet.trim().toLowerCase();
            if(street.length){
                return this.streets.filter( elem => elem.name.toLowerCase().includes(street));
            }
            return this.streets;
        }
    }
}
</script>

<style scoped>
.wrap-streets {
    position: relative;
    display: inline-block;
    height: 25px;
    margin-top: 10px;
}
.wrap-streets p,
ul{
    margin: 0;
    padding: 0;
}
.wrap-streets p,
ul li {
    cursor: pointer;
    padding: 5px;
}
.wrap-streets p {
    min-width: 250px;
    border: 1px rgb(153, 151, 151) solid;
    border-radius: 5px;
}
.select-list {
    position: relative;
    display: none;
    border: 1px #000 solid;
}
ul { 
    height: 200px;
    width: 300px;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
}

ul li:nth-child(even) {
    background-color: rgba(250, 128, 114, 0.479);
}
ul li:hover {
    color: #fff;
    background-color: rgba(124, 121, 120, 0.6);
}
.show-streets {
    display: block;
    position: absolute;
    top: 35px;
    left: 0;
}
.search input {
    display: inline-block;
    outline: none;
    border-radius: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}
.search span {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 2px;
    background-color: rgba(250, 128, 114, 0.678);
}
.search span:hover {
    background-color: rgba(247, 89, 72, 0.8);
}
</style>