<template>
    <div class="wrap-streets">
        <div class="search">
                <input v-model="searchStreet" type="text" placeholder="ищи давай">
                <span 
                v-if="searchStreet.trim()"
                @click="clearSearch"
                >
                    &#10006
                </span>
        </div>
        <p v-if="selectedName">name street: {{ selectedName }}</p>
        <p v-if="selectedId">id street: {{ selectedId }}</p>
        <table>
            <tr
            v-for="(street, index) in clearStreets"
            :key="street.id"
            @click="selectStreet(street.id, street.name)"
            >
                <td>{{ index + 1 }}</td>
                <td>{{ street.name }}</td>
            </tr>
        </table>
    </div>
</template>

<script>

export default {
    name: 'Streets',
    props: {
        streets: {
            required: true,
        }
    },
    data: () => ({
        selectedName: '',
        selectedId: null,
        searchStreet: '',
    }),
    methods: {
        selectStreet( id, name){
            this.selectedName = name;
            this.selectedId = id;
        },
        clearSearch(event){
            this.searchStreet = '';
            event.stopPropagation();
        }
    },
    computed: {
        clearStreets(){
            let street = this.searchStreet.trim().toLowerCase();
            if(street.length){
                return this.streets.filter( elem => elem.name.toLowerCase().includes(street));
            }
            return this.streets;
        }
    }
}
</script>

<style scoped>
.wrap-streets {
    display: inline-block;
    margin-top: 10px;
}
table {
    min-width: 450px;
    border-collapse: collapse;
    border: 1px solid grey;
}
table tr {
    cursor: pointer;
}
table td {
    border: 1px solid grey;
}
.search {
    position: relative;
}
.search input {
    display: inline-block;
    outline: none;
    border-radius: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}
.search span {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 2px;
    background-color: rgba(250, 128, 114, 0.678);
}
.search span:hover,
table tr:hover {
    background-color: rgba(247, 89, 72, 0.8);
}
</style>