<template>
  <div class="home">
    <div>
      <router-link :to="{ name: 'Task1' }">Задание 1</router-link>
    </div>
    <div>
      <router-link :to="{ name: 'Task2' }">Задание 2</router-link>
    </div>
    <div>
      <router-link :to="{ name: 'Task3' }">Задание 3</router-link>
    </div>
    <div>
      <router-link :to="{ name: 'Task4' }">Задание 4</router-link>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Home',
}
</script>
