<template>
    <div  v-if="order" class="order">
            <h3>Заказ № {{ order.number }} ({{ order.orderType.name }})</h3>
        <div class="wrap-info">
            <div class="order-info">
                <table-info :order="orderInfo"></table-info>
            </div>
            <div class="order-status">
                <p>Статус заказа: {{ order.status }}</p>
                <p>Создан в: {{ order.createdTime }}</p>
                <p>Терминал:</p>
                <p>Доставочный терминал: {{ order.deliveryTerminal.restaurantName }}</p>
                <p>Доставлен в: {{ order.deliveryDate }}</p>
                <p>Гость:</p>
                <p>Имя: {{ order.customer.name }}</p>
                <p>Телефон: {{ order.customer.phone }}</p>
            </div>
        </div>
    </div>
    <p v-else>Нет информации о заказе</p>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import TableInfo from '@/components/task4/TableInfo.vue';

export default {
    name: 'Order',
    components: {
        TableInfo,
    },
    methods: {
        ...mapActions('order', {
            getOrder: 'putOrderInfo',
        }),
    },
    computed: {
        ...mapGetters('order', {
            order: 'getOrderInfo',
        }),
        orderInfo(){
            return {
                sum: this.order.sum,
                discount: this.order.discount,
                items: this.order.items,
                payments: {
                    name: this.order.payments[0].paymentType.name,
                    sum: this.order.payments[0].sum,
                }
            }
        },
    },
    created(){
        this.getOrder(this.$route.params.orderId);
    }
}
</script>

<style scoped>
.wrap-info {
    display: flex;
}
.order-info {
    width: 60%;
    padding: 0 10px;
}
h3 {
    padding-left: 10px;
}
h3,
.order-status p {
    text-align: left;
}
.order-status {
    width: 40%;
    padding: 0 10px;
}
.order-status p:first-child{
    margin-top: 0;
}
</style>
