<template>
    <div>
        <cities 
        v-if="citiList"
        :cities="citiList"
        >
        </cities>
        <streets
        v-if="streetList"
        :streets="streetList"
        >
        </streets>
        <p v-if="resultStreets">Не найдено улиц</p>
    </div>
</template>
<script>
import Cities from '@/components/task2/Cities2.vue';
import Streets from '@/components/task2/Streets2.vue'
import { mapActions, mapGetters } from 'vuex';
export default {
    name: 'Task2',
    components: {
        Cities,
        Streets,
    },
    data: () => ({

    }),
    computed: {
        ...mapGetters('maps', {
            getCities: 'getCities',
            getStreets: 'getStreets',
            loadedCity: 'getActiveCity',
        }),
        citiList(){
            if(this.getCities?.length){
                return this.getCities;
            }
            return false;
        },
        streetList(){
            if(this.getStreets?.length && this.loadedCity){
                return this.getStreets;
            }
            return false;
        },
        resultStreets(){
            if(this.getStreets !== null && !this.getStreets.length && this.loadedCity){
                return true;
            }
            return false;
        }
    },
    methods: {
        ...mapActions('maps', {
            putCities: 'putCities',
            clearStore: 'clearStore',
        }),
    },
    async created(){
        this.clearStore();
        let responce = await fetch('http://efit.biz:8080/iikobizdatastore/api/addresses/cities');
        if(responce.ok){
            let result = await responce.json();
            this.putCities(result);
        }else{
            alert("Ошибка HTTP: " + response.status);
        }
    }
}
</script>