<template>
    <div>
        <div class="wrap-link">
            <router-link :to="{ name: 'order', params: {orderId: '043bbc65-d68c-45f2-b385-fa9351511839'} }">Заказ 1</router-link>
        </div>
        <div class="wrap-link">
            <button 
            data-order-id="d5db63ab-2503-4d84-a9c2-1dd3bd3f7abb"
            @click="loadOrderInfo('d5db63ab-2503-4d84-a9c2-1dd3bd3f7abb')"
            >Заказ 2</button>
        </div>
        <order-popup v-if="activatorPopup"></order-popup>
    </div>
</template>

<script>
import OrderPopup from '@/components/task4/OrderPopup.vue';
import { mapActions, mapGetters } from 'vuex'
export default {
    name: 'Task4',
    components: {
        OrderPopup,
    },
    methods: {
        ...mapActions('order', {
            getOrder: 'putOrderInfo',
            activatePopup: 'putStatusPopup',
            clearStore: 'clearStore',
        }),
        loadOrderInfo(id){
            this.getOrder(id);
            this.activatePopup(true);
        }
    },
    computed: {
        ...mapGetters('order', {
            order: 'getOrderInfo',
            statusPopup: 'getStatusPopup'
        }),
        activatorPopup(){
            if(this.order && this.statusPopup){
                return true;
            }
            return false;
        }
    },
    created(){
        this.clearStore();
    }
}
</script>

<style scoped>
.wrap-link {
    margin-bottom: 10px;
}
</style>