<template>
    <div class="nav-wrap">
        <label for="menu-toggle">Меню</label>
        <input type="checkbox" id="menu-toggle">
        <nav>
            <router-link :to="{ name: 'Task1' }">Задание 1</router-link>
            <router-link :to="{ name: 'Task2' }">Задание 2</router-link>
            <router-link :to="{ name: 'Task3' }">Задание 3</router-link>
            <router-link :to="{ name: 'Task4' }">Задание 4</router-link>
        </nav>
    </div>
</template>

<script>
export default {
    name: 'Menu',
}
</script>

<style scoped>
.nav-wrap {
    position: relative;
    text-align: left;
}
label {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}
#menu-toggle {
    display: none;
}
nav {
    position: absolute;
    transform: translateX(-100%);
    width: 150px;
    height: 100vh;
    transition: all .3s linear;
    background-color: #fff;
}
nav a {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #000;
    text-decoration: none;
    padding: 5px 0;
}
nav a:hover {
    background-color: rgba(0, 0, 0, .3);
}
#menu-toggle:checked + nav{
    transform: translateX(0%);
}
</style>