<template>
  <div id="app">
    <menu-app></menu-app>
    <router-view/>
  </div>
</template>
<script>
import Menu from './components/Menu.vue'
export default {
  components: {
    'menu-app': Menu,
  }
}
</script>
<style>
body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 15px;
}

</style>
