<template>
    <div class="order-popup">
        <div class="order-popup__wrap-info">
            <div class="order-popup__header">
                <p>Заказ №{{ order.number }} от {{ order.createdTime }} ({{ order.orderId }}) Тип заказа: {{ order.orderType.name }}</p>
                <span @click="closePopup" class="order-popup__close-header">&#10006</span>
            </div>
            <div class="order-popup__body">
                <div class="order-popup__info">
                    <table-info :order="orderInfo"></table-info>
                </div>
                <div class="order-popup__status">
                    <p>Статус заказа: {{ order.status }}</p>
                    <p>Тип заказа: {{ order.orderType.name }}</p>
                    <p>Создан в: {{ order.createdTime }}</p>
                    <p>Доставлен в: {{ order.deliveryDate }}</p>
                    <p>Гость:</p>
                    <p>Имя: {{ order.customer.name }}</p>
                    <p>Телефон: {{ order.customer.phone }}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import TableInfo from '@/components/task4/TableInfo.vue';
export default {
    name: 'OrderPopup',
    components: {
        TableInfo,
    },
    computed: {
        ...mapGetters('order', {
            order: 'getOrderInfo',
        }),
        orderInfo(){
            return {
                sum: this.order.sum,
                discount: this.order.discount,
                items: this.order.items,
                payments: {
                    name: this.order.payments[0].paymentType.name,
                    sum: this.order.payments[0].sum,
                }
            }
        },
    },
    methods: {
        ...mapActions('order', {
            dactivatePopup: 'putStatusPopup',
            clearStore: 'clearStore',
        }),
        closePopup(){
            this.dactivatePopup(false);
            this.clearStore();
        }
    },
}
</script>

<style scoped>
.order-popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color: rgba(145, 140, 140, 0.801);
}
.order-popup__wrap-info {
    background-color: #fff;
    display: inline-block;
    border-radius: 10px;
    min-width: 1100px;
    text-align: left;
}
.order-popup__header {
    position: relative;
    padding: 10px 50px 15px 10px;
    border-bottom: 1px solid grey;
}
.order-popup__header p {
    margin: 0;
}
.order-popup__close-header {
    cursor: pointer;
    position: absolute;
    text-align: center;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    line-height: 20px;
}
.order-popup__body {
    display: flex;
    padding: 15px;
}
.order-popup__info {
    width: 60%;
}
.order-popup__status {
    width: 40%;
    padding-left: 15px;
}
.order-popup__status p:first-child {
    margin-top: 0;
}
</style>