<template>
    <div>
        <table>
            <thead>
                <tr>
                    <th>
                        Продукт
                    </th>
                    <th>
                        Модификатор
                    </th>
                    <th>
                        Количество
                    </th>
                    <th>
                        Сумма
                    </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td>Сумма заказа</td>
                    <td></td>
                    <td></td>
                    <td>{{ order.sum }}</td>
                </tr>
                <tr>
                    <td>Сумма скидки</td>
                    <td></td>
                    <td></td>
                    <td>{{ order.discount }}</td>
                </tr>
            </tfoot>
            <tbody>
                <tr
                v-for="(product) in order.items"
                :key="product.id"
                >
                    <td>{{ product.name }}</td>
                    <td>{{ ...product.modifiers }}</td>
                    <td>{{ product.amount }}</td>
                    <td>{{ product.sum }}</td>
                </tr>

            </tbody>
        </table>
        <h3>Оплата</h3>
        <table>
            <thead>
                <tr>
                    <th>
                        Тип оплаты
                    </th>
                    <th>
                        Сумма, руб.
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ order.payments.name }}</td>
                    <td>{{ order.payments.sum }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
export default {
    name: 'TableInfo',
    props: {
        order: {
            required: true,
        }
    }
}
</script>

<style scoped>
table{
    margin-bottom: 15px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table thead {
    border-bottom: 2px solid rgb(168, 168, 168);
}
table thead,
table tfoot {
    border-top: 2px solid rgb(168, 168, 168);

}
tfoot tr td:first-child {
    font-weight: bold;
}
table thead th,
table td  {
    padding: 10px;
    white-space: nowrap;
}
table tbody tr {
    border-bottom: 1px dotted rgb(168, 168, 168);
}
table tbody tr:last-child {
    border-bottom: none;
}
table, h3 {
    text-align: left;
}
</style>